html{
    background-color: #bb9696;
}
body{
    margin: 0;
}
#brand{
    display: inline-block;
    margin-left: 0.25rem;
}
.tabs{
    display: inline-flex;
    align-self: center;
    margin-left: auto;

}
.header {
    display: flex;
    flex-direction: row;
    padding: 0.25rem;
    background-color: #815B5B;
}
.tabs a{
    margin-right: 2rem;
    text-decoration: none;
    color: #483737;
}
h1{
    margin: 2rem auto;
    text-align: center;
}
form{
    display:block;
    width: 20rem;
    margin: 5rem auto;
    background-color: #FFF8EA;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 4px 4px 5px #594545;
}
input,textarea{
    background-color: #FFF8EA;
    border: 0;
    border-bottom: 2px solid;
    outline: 0;
    padding: 0 0.25rem;
    margin-left: 0.5rem;
    
}
button{
    background-color: #9E7676;
    border-style: none;
    border-radius: 1rem;
    padding: 0.4rem 0.6rem;
    margin: 0.5rem;
}
label{
    display: block;
    margin: 1rem 0.25rem;
}
.serviceReq{
    padding: 0.5rem;
    display: block;
    background-color: #9E7676;
    text-decoration: none;
    width: 10rem;
    margin: 0 auto;
    border-radius: 0.25rem;
    color: black;
    text-align: center;
}
.logoutbtn{
    position: relative;
    display: block;
    margin: auto;
    top: 10rem;
}